h1{
    background-color: blue;
    border: 2px solid black;
    color:darkgreen;

}
p1{
    color:rgb(16, 46, 180);
    font-size: 200%;
}
h2{
    background-color:chocolate;
    color:rgb(9, 19, 61);
}
p2{color:rgb(21, 55, 207);
    font-size: 200%;
}