h1{
    background-color: blue;
    border: 2px solid black;
    color: teal;

}
p1{
    color:rgb(16, 46, 180);
    font-size: 200%;
}
h2{
    background-color:chocolate;
    color:rgb(9, 19, 61);
}
p2{color:rgb(21, 55, 207);
    font-size: 200%;
}
p3{
    color:teal;
    font-size: 150%;
}
h1:hover{
    background-color: rgb(129, 138, 129);
    color: darkgreen;
    border: 2px solid blue;
}
h2:hover{
    background-color: blue;
    color: green;
    border: 2px black;
}